
<table style="width:100%">
  <tr>
    <td style="width:50%">

      <div>
        <h1>  <%= link_to 'Incidents - Last 24 Hours (Open)', cnc_path %> </h1>
        <ul>
          <li>Command and Control <span style="color: red"> (In Progress!) - Host 1</span></li>
          <li>Command and Control <span style="color: red"> (In Progress!) - Host 2</span></li>
        </ul>
      </div>
      <div>
        <h1> <%= link_to 'Incidents - Last 48 Hours (Closed)', last24_path %> </h1>
        <ul>
          <li> Denial of Service Attack (DDOS) Resolved </li>
          <li> Port Scan Blocked </li>
          <li> Root To User Attack (R2U) Blocked </li>
        </ul>
      </div>
      <div>
        <h1> Top Targeted Hosts </h1>
        <ul>
          <li> 172.20.0.4 </li>
          <li> 172.20.0.15 </li>
          <li> 172.20.0.2 </li>
          <li> 172.20.0.5 </li>
          <li> 172.10.0.9 </li>
        </ul>
      </div>
      <div>
        <h1> Top Attack Vectors </h1>
        <ul>
          <li> Command and Control </li>
          <li> Ransomware </li>
          <li> SQL Injection </li>
        </ul>
      </div>
    </td>



    <td style="width:25%">
      <p><b>User Handle:</b> @kembeyg</p>
      <img src="/assets/gbarayor_id_photo.jpg" alt="Smiley face" height="200" width="250">
      <p></p>
      <p></p>
      <p><b>Personal:</b></p>
      <p>   Full Name: Kembey Gbarayor JR</p>
      <p>   Email: kembeyg@acme.com</p>
      <p>   Phone: (703)448-2424</p>
      <p><b>Company Info:</b></p>
      <p>  Organization Name: Acme Inc.</p>
      <p>  Position: Director of Cyber Security</p>
      <p>  Location: Las Vegas, NV</p>
      <p>  Expertise: Malware Analysis</p>

    </td>
  </tr>


</table>


