<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<div id="message">this will become something else</div>
<button >start flash</button>
<div class="alert alert-primary" role="alert">
    This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-primary" role="alert">
    This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<%flash[:notice]="Finally" %>

</body>
</html>
